body {
  overflow-x: hidden;
  position: relative;
  color: $white;
  background: #1D1D1D;
  max-height: 100vh;
  height: 100%;

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white;
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.h1 {
  font-size: 20px;
  font-weight: 400;
  color: #D3DAE2;
}

.h2 {
  font-size: 40px;
  color: #6844FF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.list {
  li {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 130%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.main__block {
  margin-bottom: 80px;
}

.last__block {
  padding-bottom: 60px;
}

.text {
  font-size: 70px;
  color: #6844FF;
  font-weight: 800;
  text-transform: uppercase;

  @media($media_md) {
    font-size: 50px;
  }

  @media($media_sm) {
    font-size: 40px;
  }

  @media(max-width: 450px) {
    font-size: 34px;
  }

  @media(max-width: 400px) {
    font-size: 30px;
  }
}

.subtitle {
  font-size: 25px;
  line-height: 150%;

  @media($media_md2) {
    font-size: 20px;
  }

  @media($media_sm2) {
    font-size: 18px;
  }
}

.button {
  font-size: 20px;
  background: #6844FF;
  border-radius: 15px;
  padding: 20px 30px;

  span {
    font-size: 14px;
  }

  b {
    font-size: 22px;
    font-weight: 600;
  }

  transition: all .2s;

  &:hover {
    -webkit-box-shadow: 0px 0px 35px 8px rgba(104, 68, 255, 0.2);
    -moz-box-shadow: 0px 0px 35px 8px rgba(104, 68, 255, 0.2);
    box-shadow: 0px 0px 35px 8px rgba(104, 68, 255, 0.2);
  }

  @media($media_sm) {
    padding: 15px 20px;

    span {
      font-size: 12px;
      display: inline-block;
      line-height: 1.2;
      margin-top: 10px;
    }

    b {
      font-size: 18px;
    }
  }
}

.bottom-text {
  font-size: 15px;
  color: #D3DAE2;
  padding-bottom: 30px;
}

.main {
  padding: 100px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;

  @media($media_md) {
    justify-content: flex-start;
    padding-top: 100px;
  }
}

.main__other {
  padding: 90px 15px 0;
  max-width: 900px;
  margin: 0 auto;
}

.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.case__item {
  margin: 30px 0;
}