body {
  overflow-x: hidden;
  position: relative;
  color: $white;
  background: #1a1919;
  max-height: 100vh;
  height: 100%;

  font-family: Gilroy, sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media(min-width: 1200px) {
    max-width: 1230px;
  }
}

.h1 {
  font-size: 20px;
}

.text {
  font-size: 40px;
}

.subtitle {
  font-size: 25px;
}

.button {
  font-size: 20px;
}

.bottom-text {
  font-size: 15px;
}